<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.designyourjourney.pictureout">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- ACCESS_COARSE_LOCATION: It provides location accuracy within a city block -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- ACCESS_FINE_LOCATION: It provides a more accurate location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PictureOut">
        <activity
            android:name=".UpgradePlan"
            android:label="@string/title_activity_upgrade_plan"
            android:theme="@style/Theme.PictureOut.NoActionBar"></activity>
        <activity android:name=".AllPlansView" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".IdealisePlan" />
        <activity android:name=".MakePlan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>